<tr>
  <td><%= patient.first_name %></td>
  <td><%= patient.last_name %></td>
  <td><%= patient.gender %></td>
  <td><%= patient.city %></td>
  <td><%= patient.pesel %></td>
  <td><%= patient.date_of_birth %></td>
</tr>
